.box {
    padding: 20px;
    margin: 10px;
    border: 2px solid black;
}
.box1 {
    background-color: blue;
}
.box2 {
    background-color: blueviolet;
}
.box3 {
    background-color: yellowgreen;
}