header, footer {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}
.inline-container {
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}
.internal-container {
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}
.external-container {
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
}