*{
    border: 0px;
    margin: 0px;
}
#container{
    background-color: orange;
    height: 25vh;
}
.i {
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block; 
    animation-name: main;
    animation-duration: 4s;
    margin: 5px;
    animation-iteration-count:infinite;
    color: #E6F8B2;
    
}

@keyframes main {
    from {
        /* font-size: 100px; */
        transform: rotate(45deg);
        margin: 30px;
    }
    to {
        /* font-size: 160px; */
        transform: rotate(0deg);
        margin: 5px;
    }
}
@media screen and (max-width: 480px) {
    #container{
    background-color: orange;
    height: 15vh;
}

    .i {
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block; 
    animation-name: main;
    animation-duration: 4s;
    margin: 5px;
    animation-iteration-count:infinite;
    color: #E6F8B2;
    
}

@keyframes main {
    from {
        /* font-size: 100px; */
        transform: rotate(45deg);
        margin: 30px;
    }
    to {
        /* font-size: 160px; */
        transform: rotate(0deg);
        margin: 5px;
    }
}





}