body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

label {
    font-size: 1.2rem;
}

input {
    padding: 8px;
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 30%;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
table {
    margin-top: 20px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid black;
}