
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

pre {
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
}

input,
button {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}


#form {
    padding: 10px;
    width: 300px;
    border: 2px solid #222221;
    border-radius: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.input-container input {
    height: 24px;
    padding-left: 10px;
    outline: none;
}
