label{
    font-weight: 500;
    font-size: 24px;
  }
  
  input{
      width: 150px;
      padding: 10px;
      text-align: center;
  }
  
  #result{
      text-align: center;
      font-size: 24px;
     padding: 20px;
    
  }

  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  button{
      border: 0px;
      background-color: darkgray;
      border-radius: 5px;
      margin: 1rem;
      font-weight: 700;
      padding: 1rem;
      text-transform: uppercase;
      cursor: pointer;
    }
    
    button:hover{
      background-color: rgba(119, 115, 115, 0.716);
    }
  
    
  footer {
      width: 98vw;
      background-color: darkcyan;
      margin-top: 180px;
      padding: 20px 0; 
    
    }
    
    .footer-content {
      display: flex;
      flex-direction: column; 
      justify-content: center; 
      align-items: center; 
      background-color: #fff;
    }
    
    
    .footer-content p {
      margin: 5px 0; 
      font-size: 14px; 
      text-align: center; 
    }
    
    .footer-content a {
    
      text-decoration: none;
      margin: 0 5px;
      font-weight: bold;
    }
    
    .footer-content a:hover {
      text-decoration: underline; 
    }
    