* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: linear-gradient(to right bottom, blue, white);
  color: #444;
}

header {
  background: #162c7b;
  color: #fff;
  padding: 10px 2px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 10px 2px;
  background: #2a439c;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px 20px;
  margin: 15px auto;
  max-width: 800px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 1rem;
  color: #333;
}

.image-section img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0056b3;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #4c8c6a;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 2rem;
}
