@media(max-width:1200px) {

    /* about section */
    .about-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url(./assets/bg-hero-2.svg);
        background-size: cover;
        overflow: hidden;
    }

    #my-video {
        height: auto;
        object-fit: cover;
        width: 100%;
        z-index: 0;
        margin: 0;
    }

    .about__description {
        z-index: 1;
        max-width: 47%;
        color: white;
        left: 61px;
        top: 70px;
        padding: 10px;
    }
}

@media(max-width:992px) {

    /* about section */
    .about-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url('./assets/bg-hero-2.svg');
        background-size: cover;
        overflow: hidden;
        position: static;
    }

    #my-video {
        height: 100%;
        object-fit: cover;
        width: 100%;
        z-index: 0;
        position: static;
        margin-left: -415px;
    }

    .about__description {
        color: white;
        padding: 10px;
        position: static;
    }

    /* friction container */
    .top-curve-container {
        width: 100%;
        padding: 30px;
    }

    .top-curve-container img {
        width: 100%;
    }

    .top-curve__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: white;
        padding: 60px;
    }

    .top-curve__content-wrapper .text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 20px;
        border-radius: 10px;
        height: 300px;
    }

    .text-content h3 {
        font-size: 30px;
    }

    .video-content {
        width: 100%;
    }

    .line-container__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .line-container__content-wrapper .text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    /* business container */
    .business-section__card-container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .business-section__cards {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .business-section__image {
        width: 100%;
    }

    .business-section__image img {
        width: 100%;
        height: 100%;
    }

    /* user flow  */
    .user-flow {
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin-top: 60px;
        justify-content: center;
        border-radius: 25px;
        background: linear-gradient(126deg, rgb(129, 49, 255) 0%, rgb(129, 49, 255) 24%, rgb(129, 49, 255) 37%, rgb(78, 9, 188) 94%);
        color: white;
    }

    .user-flow__image {
        width: 100%;
    }


    .user-flow__description {
        width: 100%;
    }

    /* features */
    .features {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
        color: white;
        flex: wrap;
    }

    /* case study */
    .case-study {
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        background: linear-gradient(98deg, rgb(251, 225, 209) 10%, rgb(230, 211, 226) 70%);
    }

    .case-study__description {
        padding: 30px;
        width: 100%;
    }

    .case-study__image {
        padding: 40px;
        width: 100%;
    }

    /* resources section */
    .resources-section__card-container {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .resource-card {
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-radius: 20px;
        width: 100%;
    }

    /* demo section */
    .demo-section {
        background-color: #212121;
        display: flex;
        padding: 80px;
        flex-direction: column;
        gap: 30px;
    }

    .demo__description {
        width: 100%;
    }

    .demo__img {
        width: 100%;
        margin: 0;
    }

    .demo__img img {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    /* footer section */

    .footer__card-container {
        padding: 80px;
        display: flex;
        gap: 80px;
        flex-direction: column;
    }
}

@media(max-width:768px) {}

@media(max-width:480px) {

    /* about section */
    .about-section {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: url(./assets/bg-hero-2.svg);
        background-size: cover;
        overflow: hidden;
        position: relative;
    }

    #my-video {
        position: absolute;
        height: auto;
        object-fit: cover;
        width: 100%;
        z-index: 0;
        margin: 0;
    }

    .about__description {
        display: none;
    }

    /* .intelligence-section */
    .intel__para {
        text-align: justify;
        width: 100%;
    }

    .overlapping {
        width: 100%;
        position: absolute;
        top: 300px;

    }

    .oracle__img img {
        height: 200px;
    }

    .intel__description2 {
        width: 100% !important;
    }

    .intel__description2 {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: white;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .top-curve__content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
        color: white;
        padding: 0px;
        margin: 0;
    }

    .footer-curve {
        width: 100%;
        height: auto;
        display: block;
    }

    /* .business-section */
    .business-section {
        background-color: #ebebeb;
        padding: 30px;
    }

    /* case study */
    .case-study__title,
    .case-study__title span {
        font-size: 25px;
        padding: 26px 10px;
    }

    /* customer section */
    .customer-section {
        padding: 30px;
        background-color: #ebebeb;
    }

    /* resource section */
    .resources-section {
        padding: 30px;
        background-color: #ebebeb;
    }

    /* demo section */
    .demo-section {
        background-color: #212121;
        display: flex;
        padding: 30px;
        flex-direction: column;
        gap: 30px;
    }

    /* footer section */
    .footer__card-container {
        padding: 20px;
        display: flex;
        gap: 80px;
        flex-direction: column;
    }

    .copy-right {
        display: flex;
        flex-direction: column;
        color: grey;
        padding: 20px;
        gap: 30px;
        height: auto;
    }
}