body {
    width: 98vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, aliceblue, hotpink, gray);
    color: white;
  }

  p{
    font-size: 30px;
    font-weight: bold;

  }
  
  button{
    margin-top: 30px;
    margin-right: 30px;
    padding: 10px 20px 10px 20px;
    cursor: pointer;
    background-image: linear-gradient(360deg, gray , cyan, gray);
    border: none;
    border-radius: 10px;
  }
  
  footer {
    width: 98vw;
    background-color: darkcyan;
    margin-top: 370px;
    padding: 20px 0;
    color: black;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .footer-content p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-content a {
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  