body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;
  }
  
  section{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  section div{
    border: 1px;
  }

  
  footer {
    width: 98vw;
    background-color: darkcyan;
    margin-top: 100px;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .footer-content p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-content a {
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  