body {
    background-color: aliceblue;
    font-family: Arial, sans-serif;

  }
  
  section{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 90vw;
  }

  section p{
    padding-top: 60px;
  }
  
  #parentDiv{
    border: solid;
    margin: 10px;
    padding-top: 40px;
    cursor: pointer;
    background-color: teal;
    width: 300px;
    flex-direction: column;
    display: flex;
  justify-content: center;
  align-items: center;
  }

  #childDiv{
    border: solid;
    margin: 10px;
    padding-top: 40px;
    cursor: pointer;
    width: 200px;
    background-color: beige;
  }


  nav {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
  }
  nav img {
    height: 30px;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    display: flex;
    cursor: pointer;
  }
  nav ul li {
    margin-right: 30px;
    cursor: pointer;
  }
  nav ul li a {
    color: #343a40;
    text-decoration: none;
    cursor: pointer;
  }
  nav ul li:hover {
    background-color: #e9ecef;
  }
  section {
    padding: 100px;
    text-align: center;
  }
  section a.btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 30px;
  }

  section a.btn:hover {
    background-color: #0069d9;
  }

  section a {
    text-decoration: none;
  }
  .video-section {
    margin-top: 30px;
  }

  
  footer {
    width: 98vw;
    background-color: darkcyan;
    margin-top: 100px;
    padding: 20px 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }
  
  .footer-content p {
    margin: 5px 0;
    font-size: 14px;
    text-align: center;
  }
  
  .footer-content a {
    text-decoration: none;
    margin: 0 5px;
    font-weight: bold;
  }
  
  .footer-content a:hover {
    text-decoration: underline;
  }
  