body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    color: #333;
}

table {
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

tr:hover {
    background-color: #e6f7ff;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 2px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 12px;
}


