.highlight-blue {
    color: #2980b9;
    font-weight: bold;
}

.highlight-green {
    color: #27ae60;
    font-weight: bold;
}

.highlight-orange {
    color: #e67e22;
    font-weight: bold;
}

.highlight-purple {
    color: #8e44ad;
    font-weight: bold;
}

.highlight-red {
    color: #c0392b;
    font-weight: bold;
}