header,footer {
    text-align: center;
    margin: 30px;
    font-size: 20px;
    font-weight: bold;
}
div {
    text-align: center;
}
table {
    border-collapse: collapse;
    margin: 20px auto;
}

td,th {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}
.highlight {
    background-color: yellow;
}
