body {
    font-family: Arial;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.container{
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}
.container input {
    margin: 10px 0;
    padding: 8px 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.app-buttons button {
    border: none;
    padding: 10px 15px;
    margin: 5px;
    font-size: large;
    border-radius: 5px;
    cursor: pointer;
}
   
#result {
    margin-top: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #333;
}

