.audio-and-video-page-container{   
    height: 100%;
    text-align: center;
}
.video-container{
height: 100%;
width: auto;
background-color: cadetblue;
}
.audio-container{

height: 100%;
width: auto;
background-color: rgb(110, 53, 10);
height:200px;
padding:20px;
}
